{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block content %}

<div class="container py-5"> 
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Введите новый пароль
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'users:password_reset_confirm' %}">
            {% include 'includes/errors.html' %}
            {% csrf_token %}
            {% include 'includes/dynamic_forms.html' %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}