{% extends "base.html" %}
{% block title %}Форма изменения пароля{% endblock %}
{% block content %}

  {% with card_header='Изменить пароль' card_body={% include 'users/includes/form.html' %} %}
    {% include 'users/includes/card.html' %} 
  {% endwith %}
<div class="container py-5"> 
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Изменить пароль
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'users:password_change_form' %}">
            {% include 'includes/errors.html' %}
            {% csrf_token %}
            {% include 'includes/dynamic_forms.html' %}
              <button type="submit" class="btn btn-primary"> 
                Изменить пароль 
              </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}